@import url('./reset.css');

@font-face {
    font-family: "Segoe UI";
    font-weight: 400;
    src: url("./assets/fonts/Segoe\ UI.ttf");
}

@font-face {
    font-family: "Segoe UI";
    font-weight: 600;
    src: url("./assets/fonts/Segoe\ UI\ Bold.ttf");
}

:root {
    --c-dark-30: rgba(0, 0, 0, 0.30);
    --c-dark-45: rgba(0, 0, 0, 0.45);
    --c-dark-60: rgba(0, 0, 0, 0.60);
    --c-dark-80: rgba(0, 0, 0, 0.80);
    --c-dark-100: #000000;
    --c-primary-60: #0095F6;
    --c-primary-70: #007CCD;
    --c-primary-80: #0064A4;
    --c-primary-90: #004B7C;
    --c-white-10: #FFFFFF;
    --c-white-20: #FAFAFA;
}

* {
    box-sizing: border-box;
}

.text-preset-200 {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.text-preset-250 {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.text-preset-260 {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}