@import url('./reset.css');

@font-face {
    font-family: "Segoe UI";
    font-weight: 400;
    src: url("./assets/fonts/Segoe\ UI.ttf");
}

@font-face {
    font-family: "Segoe UI";
    font-weight: 600;
    src: url("./assets/fonts/Segoe\ UI\ Bold.ttf");
}

:root {
    --c-dark-30: rgba(0, 0, 0, 0.30);
    --c-dark-45: rgba(0, 0, 0, 0.45);
    --c-dark-60: rgba(0, 0, 0, 0.60);
    --c-dark-80: rgba(0, 0, 0, 0.80);
    --c-dark-100: #000000;
    --c-primary-60: #0095F6;
    --c-primary-70: #007CCD;
    --c-primary-80: #0064A4;
    --c-primary-90: #004B7C;
    --c-white-10: #FFFFFF;
    --c-white-20: #FAFAFA;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    align-items: center;
    background-color: var(--c-white-20);
    display: flex;
    font-family: "Segoe UI";
    justify-content: center;
    min-height: 100%;
    width: 100%;
}

section {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    max-width: 956px;
    padding: 64px;
    width: 100%;
}

main {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.log-in {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 352px;
}

.user-info {
    align-items: center;
    background-color: var(--c-white-10);
    border: 1px solid var(--c-dark-30);
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 48px 40px;
    width: 100%;
}

.user-info__user-photo {
    border-radius: 50%;
}

.user-info__buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.user-info__remove-account-button {
    color: var(--c-primary-60);
    text-decoration: none;
    transition: 300ms;
}

.user-info__remove-account-button:hover {
    color: var(--c-primary-80);
}

.change-or-create-account {
    align-items: center;
    background-color: var(--c-white-10);
    border: 1px solid var(--c-dark-30);
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px 40px;
    width: 100%;
}

.change-or-create-account__not-current-user {
    color: var(--c-dark-80);
}

.change-or-create-account__switch-accounts, .change-or-create-account__create-account {
    color: var(--c-primary-60);
    text-decoration: none;
    transition: 300ms;
}

.change-or-create-account__switch-accounts:hover, .change-or-create-account__create-account:hover {
    color: var(--c-primary-80);
}

.change-or-create-account__or {
    color: var(--c-dark-80);
}

.app-download {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 12px 24px;
    width: 100%;
}

.app-download__download-call {
    color: var(--c-dark-80);
}

.app-download__stores {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.app-download_store {
    cursor: pointer;
}

footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

footer > a {
    color: var(--c-dark-45);
    text-decoration: none;
    transition: 300ms;
}

footer > a:hover {
    color: var(--c-dark-60);
    text-decoration: underline;
}

.primary-button {
    background-color: var(--c-primary-60);
    border: none;
    border-radius: 4px;
    color: var(--c-white-10);
    cursor: pointer;
    outline: none;
    padding: 6px 12px;
    transition: 300ms;
    width: 100%;
}

.primary-button:hover {
    background-color: var(--c-primary-80);
}

.text-preset-200 {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.text-preset-250 {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.primary-button, .text-preset-260 {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

@media (max-width: 800px) { 
    .phones {
        display: none;
    }
}

@media (max-width: 480px) {
    section {
        padding: 32px;
    }

    .log-in {
        width: 100%;
    }

    .user-info, .change-or-create-account {
        background-color: transparent;
        border: none;
    }
}